
div{
    display: block;
    margin-top: 50px;
}

svg{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    text-align: center;
}

#bubble0, #bubble1, #capsuleBubble0, #capsuleBubble1, #capsuleBubble2, #loadingSpinner{
    animation-name: spinOnCenter;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: center;
    -webkit-transform-origin: center;
    transform-box: fill-box;
    animation-timing-function: ease;
}
#bubble1, #capsuleBubble0, #capsuleBubble1, #capsuleBubble2 {
    animation-name: bobUpAndReturn;
    animation-duration: 10s;
    animation-timing-function: linear;
}

#loadingSpinner{
    animation-duration: 3s;
    animation-timing-function: linear;
}

.loadingWave{
    animation-name: bobUpAndDown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: center;
    transform-box: fill-box;
}
.loadingWave:nth-child(2){
    animation-delay: .4s;
}
.loadingWave:nth-child(3){
    animation-delay: .8s;
}
.loadingWave:nth-child(4){
    animation-delay: 1.2s;
}
.loadingWave:nth-child(5){
    animation-delay: 1.6s;
}


@keyframes bobUpAndReturn{
    0% {transform: translateY(0)}
    50%{transform: translateY(-10px)}
    100%{transform: translateY(0)}
}

@keyframes bobUpAndDown{
    0%{transform: translateY(0)}
    25%{transform: translateY(-5px)}
    50%{transform: translateY(0)}
    75%{transform: translateY(5px)}
    100%{transform: translateY(0)}
}

@keyframes spinOnCenter{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#wave0{
    animation-name: wave0animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transform-box: fill-box;
    
}

@keyframes wave0animation{
    /* wave0 */
    0%{d:path("m-81.53 197.23s128.12-109.48 125.01-38.048 163.84 73.766 177.81 49.695-60.565-168.5 96.284-48.142c156.85 120.35 162.28 37.271 162.28 37.271s26.4-125.01 33.389-6.2118c6.9883 118.8 8.5413 121.13 8.5413 121.13l-595.56-2.3294z")}
    /* wave1 */
    25%{d:path("M-44.259 158.4s35.718-71.436 142.1-18.636c106.38 52.801-3.1059 151.41 217.41 76.095 220.52-75.319 243.04-9.3178 243.04-9.3178l6.9883 159.18-621.96-8.5413z")}
    /* wave2 */
    67%{d: path("M-72.989 159.95c150.64 58.236 6.9883 118.8 238.38 13.2 231.39-105.6 76.872-18.636 262.45 34.942s159.95 62.895 159.95 62.895l-3.1059 93.954-641.37-7.7648z")}
    /* wave0 */
    100%{d:path("m-81.53 197.23s128.12-109.48 125.01-38.048 163.84 73.766 177.81 49.695-60.565-168.5 96.284-48.142c156.85 120.35 162.28 37.271 162.28 37.271s26.4-125.01 33.389-6.2118c6.9883 118.8 8.5413 121.13 8.5413 121.13l-595.56-2.3294z")}
}