

div{
    display: block;
    margin-top: 50px;
}

svg{
    height: 100%;
}

body{
    text-align: center;
}

#bubble0, #bubble1, #capsuleBubble0, #capsuleBubble1, #capsuleBubble2 {
    animation-name: spinOnCenter;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: center;
    transform-box: fill-box;
    animation-timing-function: ease;
}
#bubble1, #capsuleBubble0, #capsuleBubble1, #capsuleBubble2 {
    animation-name: bobUpAndDown;
    animation-duration: 10s;
    animation-timing-function: linear;
}

@keyframes bobUpAndDown{
    0% {transform: translateY(0)}
    50%{transform: translateY(-10px)}
    100%{transform: translateY(0)}
}

@keyframes spinOnCenter{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}